Repository Swiddis/dashboards-observability, changes with the owners that .github/CODEOWNERS names for each.
All owners: @opensearch-project/observability, @Swiddis, @YANG-DB

Tweak setup to fix ingest errors
  server/adaptors/integrations/__data__/repository/haproxy/info/test/docker-compose.yaml
  server/adaptors/integrations/__data__/repository/haproxy/info/test/fluent-bit/fluent-bit.conf
  server/adaptors/integrations/__data__/repository/haproxy/info/test/fluent-bit/otel-converter.lua
Owners: @Swiddis, @YANG-DB

Add tests for setup_integration
  public/components/integrations/components/__tests__/__snapshots__/setup_integration.test.tsx.snap
  public/components/integrations/components/__tests__/setup_integration.test.tsx
  public/components/integrations/components/setup_integration.tsx
Owners: @Swiddis

Improve error message for invalid integration in unit tests
  server/adaptors/integrations/__test__/json_repository.test.ts
  server/adaptors/integrations/repository/__test__/integration_reader.test.ts
  server/adaptors/integrations/repository/fs_data_adaptor.ts
Owners: @Swiddis, @YANG-DB

Fix otel integration to pass validation tests
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_amp_network_metrics_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_apm_network_services-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_ingestion_rate_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_services_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_single_service_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/data/traces-samples.json
  server/adaptors/integrations/__data__/repository/otel-services/otel-services-1.0.0.json
Owners: @Swiddis, @YANG-DB

Otel services observability integration (#1729)
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel-amp-network-metrics-dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel-apm-network-services-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel-ingestion-rate-dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel-services-dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel-single-service-dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/data/logs-samples.json
  server/adaptors/integrations/__data__/repository/otel-services/data/metrics-samples.json
  server/adaptors/integrations/__data__/repository/otel-services/data/services-samples.json
  server/adaptors/integrations/__data__/repository/otel-services/data/traces-samples.json
  server/adaptors/integrations/__data__/repository/otel-services/info/DemoLandingPage.md
  server/adaptors/integrations/__data__/repository/otel-services/info/OTEL Demo Architecture.md
  server/adaptors/integrations/__data__/repository/otel-services/info/Observability Introduction.md
  server/adaptors/integrations/__data__/repository/otel-services/info/README.md
  server/adaptors/integrations/__data__/repository/otel-services/info/img/DemoFlow.png
  server/adaptors/integrations/__data__/repository/otel-services/info/img/DemoServices.png
  server/adaptors/integrations/__data__/repository/otel-services/info/img/logs-otel-pipe.png
  server/adaptors/integrations/__data__/repository/otel-services/info/img/metrics-otel-pipe.png
  server/adaptors/integrations/__data__/repository/otel-services/info/img/traces-otel-pipe.png
  server/adaptors/integrations/__data__/repository/otel-services/info/integrations.png
  server/adaptors/integrations/__data__/repository/otel-services/info/notebook.json
  server/adaptors/integrations/__data__/repository/otel-services/info/services.png
  server/adaptors/integrations/__data__/repository/otel-services/otel-services-1.0.0.json
  server/adaptors/integrations/__data__/repository/otel-services/schemas/logs-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/otel-services/schemas/metrics-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/otel-services/schemas/services-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/otel-services/schemas/traces-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/otel-services/static/dashboard1.png
  server/adaptors/integrations/__data__/repository/otel-services/static/dashboard2.png
  server/adaptors/integrations/__data__/repository/otel-services/static/dashboard3.png
  server/adaptors/integrations/__data__/repository/otel-services/static/dashboard4.png
  server/adaptors/integrations/__data__/repository/otel-services/static/dashboard5.png
  server/adaptors/integrations/__data__/repository/otel-services/static/logo.png
Owners: @Swiddis, @YANG-DB

Update integ workflow to use custom osd builder
  .github/workflows/integration-tests-workflow.yml
Owners: @opensearch-project/observability

.github/CODEOWNERS:

# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @opensearch-project/observability

# Integrations
server/adaptors/integrations @Swiddis @YANG-DB
server/routes/integrations @Swiddis @YANG-DB
public/components/integrations @Swiddis
